---
import SocialLinks from "./SocialLinks.astro";
---

<footer>
  <div class="footer">
    <div class="me">
      <h2>
        <span class="name">Jessaí</span>
        <span class="group">
          <span class="position">Front-end<br />developer</span>
          <span class="last">Maya</span>
        </span>
      </h2>
    </div>
    <div class="contacts">
      <h2>.../Contacts...</h2>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link" title="home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a href="" class="nav-link" title="projects">Projects</a>
        </li><li class="nav-item">
          <a href="" class="nav-link" title="Articles">Articles</a>
        </li> -->
      </ul>
      <div class="site">
        <p class="title">Site</p>
        <p>Handcrafted by Me /</p>
        <p>
          Designed by <a
            href="https://www.behance.net/taisia_pro"
            title="Designer Taisia">Taisia</a
          > /
        </p>
        <p>Powered by <a href="https://astro.build/" title="astro">Astro</a></p>
      </div>
    </div>
  </div>
  <div class="social">
    <SocialLinks />
  </div>
</footer>
<style>
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--space-l);
    margin: var(--space-2xl) auto;
  }
  .me {
    flex: 1;
  }
  .name {
    display: block;
  }
  .name,
  .last {
    font-family: "FiraCode", monospace;
    font-size: var(--step-5);
    color: var(--accent);
    margin: 0;
  }
  .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .position {
    color: var(--gray);
    font-size: var(--step-0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
  }
  .contacts {
    flex: 1;
    padding: 0 var(--space-l);
  }
  .contacts h2 {
    font-size: var(--step-0);
  }
  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .nav-link {
    color: var(--accent);
    font-size: var(--step--1);
    text-decoration: none;
  }
  .site {
    max-width: 60%;
    color: var(--accent);
    font-size: var(--step--1);
    font-weight: normal;
    border-radius: var(--space-m);
    padding: var(--space-s);
    border: solid 1px var(--accent);
  }
  .title {
    color: var(--gray);
    font-size: var(--step-0);
  }
  a:hover {
    color: var(--accent);
  }

  .social {
    margin-bottom: var(--space-xl);
  }
  @media (max-width: 48rem) {
    .footer {
      flex-direction: column-reverse;
    }
    .site {
      max-width: 80%;
    }
  }
</style>
